.course-pill {
  @apply rounded-full border mr-4 py-2 px-4 my-1 cursor-pointer text-center;
  width: 6.3rem;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.w-auto {
    width: auto;
  }

  &:hover,
  &.selected {
    @apply bg-gray-700 border-gray-800 text-white;
  }
}

.header-logo {
  &:hover span {
    color: #fdb61a;
  }
}

.search-results {
  @apply shadow-xl mt-1 border rounded bg-white absolute flex-col;
  z-index: 2;
  left: 0;
  right: 0;

  &:before {
    display: block;
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    z-index: 800;
    left: calc(50% - 7px);
    top: -8px;
    border-top: 1px solid #e2e8f0;
    border-right: 1px solid #e2e8f0;
    transform: rotate(-45deg);
  }

  ul {
    list-style-type: none;
    margin: 0;

    li>div {
      border-bottom: 1px solid #e2e8f0;

      &>a {
        @apply text-gray-800 p-3 block;
        font-weight: bold;
      }

      &:hover {
        @apply bg-gray-200 text-white;
      }

      mark {
        color: #253e8a;
        background-color: #e8eaf6;
      }
    }
  }
}

.course-graph {
  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
  }

  // Try to match this to the 'course-pill' object
  // for consistency?
  .node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
  }

  .edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
  }

  .edgePath.coreq path {
    stroke-dasharray: 5, 5;
  }

  .node:hover {
    text {
      fill: white;
    }

    rect {
      fill: #333;
    }
  }
}

.feedback-form {
  .sentiment {
    @apply h-24 w-1/3 border bg-gray-200 p-3 text-center cursor-pointer relative;

    .face-icon {
      @apply h-10 text-gray-500 block m-auto mb-2 ease-out duration-300;
    }

    input[type="radio"] {
      @apply absolute z-10 top-0 bottom-0 left-0 right-0 w-full h-full opacity-0 cursor-pointer;
    }

    &:hover {
      .fa-meh {
        transform: rotate(34deg);
      }

      .fa-smile {
        transform: translate(0px, -20px);
      }

      .fa-frown {
        transform: translate(0px, 10px);
      }
    }

    &.active {
      @apply bg-purple-700 text-white;

      .face-icon {
        @apply text-white;
      }

      span {
        @apply text-white;
      }
    }
  }
}