.course-pill {
	@apply rounded-full border mr-4 py-2 px-4 my-1 inline-block cursor-pointer w-24 text-center;
	width: 6.3rem;

	&:hover,
	&.selected {
		@apply bg-gray-700 border-gray-800 text-white;
	}
}