.blog-post-container {
  .blog-post {
    @apply mb-1;

    .frontmatter {
      @apply mb-4;

      .title {
        @apply mb-1;
      }

      .sub-title {
        @apply mb-1;
      }
    }

    .date {
      @apply text-sm text-gray-600 text-right;
    }

    .label {
      @apply font-bold mr-2;
    }
  }
}
