@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

a {
	@apply text-blue-500;

	&:hover {
		@apply text-blue-800;
	}
}

.btn {
	@apply font-semibold py-2 px-2 border rounded;

	&:hover {
		@apply bg-gray-200 cursor-pointer;
	}

	&.btn-blue:hover {
		@apply bg-blue-400;
	}

	&:hover a,
	a:hover {
		@apply text-white
	}
}