@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "vars";

.container {
  padding: 0 10px;
}

.bg-pittblue {
  --bg-opacity: 1;
  background-color: $pittblue;
}

.bg-pittgold {
  --bg-opacity: 1;
  background-color: $pittgold;
}

a {
  @apply text-blue-500;

  &:hover {
    @apply text-blue-800;
  }
}

@keyframes stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

.btn {
  @apply font-semibold py-2 px-2 border rounded;

  &:hover {
    @apply bg-gray-200 cursor-pointer;
  }

  &.btn-blue:hover {
    @apply bg-blue-400;
  }

  &:hover a,
  a:hover {
    @apply text-white;
  }

  &.small {
    @apply p-1;
  }

  &.bg-pittgold {
    border: 1px solid #efa300;
    color: #654500;

    &:hover {
      @apply stripes-animation;
      background-color: $pittgold;
    }
  }
}

.stripes-animation {
  background-size: 30px 30px;
  background-image: linear-gradient(45deg,
      rgba(black, 0.04) 25%,
      transparent 25%,
      transparent 50%,
      rgba(black, 0.04) 50%,
      rgba(black, 0.04) 75%,
      transparent 75%,
      transparent);
  animation: stripes 1s linear 0s infinite normal none running;
}

.button-group {
  button {
    @apply mr-2;
  }
}