# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for
# review when someone opens a pull request.
* @varughese @Richie78321 @Zmwang622
src/pages/*       @varughese @azharichenko @Richie78321
*.md @Zmwang622 @varughese @azharichenko @rohit-ganguly @Richie78321

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only this owner and not the global
# owner(s) will be requested for a review.
*.js    @varughese @Richie78321
*.json @varughese @Richie78321
*.css @varughese @Richie78321
*.scss @varughese @Richie78321
