# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for
# review when someone opens a pull request.
src/pages/*       @varughese @azharichenko 

*.md @Zmwang622 @varughese @azharichenko @rohit-ganguly

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only this owner and not the global
# owner(s) will be requested for a review.
*.js    @varughese
*.json @varughese
*.css @varughese
*.scss @varughese
